<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.StudentMapper">
        <select id="query" parameterType="com.jnshu.entity.Student" resultType="com.jnshu.entity.Student">
                select * from student where 1 = 1
                <if test="Name != null and Name != ''">
                        and Name = #{Name}
                </if>
                <if test="Number != null and Number != ''">
                        and Number = #{Number}
                </if>
        </select>

        <update id="update" parameterType="com.jnshu.entity.Student" >
                update student
                <trim prefix="set" suffixOverrides=",">
                        <if test="Name != null and Name !=''">Name = #{Name},</if>
                        <if test="School != null and School != ''">School = #{School},</if>
                        <if test="Online_un != null and Online_un != ''">Onlinge_un = #{Online_un},</if>
                        <if test="Number != null and Number != ''">Number = #{Number},</if>
                        <if test="City != null and City != ''">City = #{City},</if>
                </trim>
                where ID = #{ID}
        </update>

        <insert id="insert" parameterType="com.jnshu.entity.Student" useGeneratedKeys="true" keyProperty="ID">
                insert into student
                <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="Name != null">
                                Name,
                        </if>
                        <if test="School != null">
                                School,
                        </if>
                        <if test="Online_un != null">
                                Online_un,
                        </if>
                        <if test="Number != null">
                                Number,
                        </if>
                        <if test="City != null">
                                City,
                        </if>
                </trim>
                <trim prefix="values(" suffix=")" suffixOverrides=",">
                        <if test="Name != null and Name !=''">
                                #{Name,jdbcType=VARCHAR},
                        </if>
                        <if test="School != null and School != ''">
                                #{School,jdbcType=VARCHAR},
                        </if>
                        <if test="Online_un != null and Online_un != ''">
                                #{Online_un,jdbcType=VARCHAR},
                        </if>
                        <if test="Number != null and Number != ''">
                                #{Number,jdbcType=BIGINT},
                        </if>
                        <if test="City != null and City != ''">
                                #{City,jdbcType=VARCHAR},
                        </if>
                </trim>
        </insert>

        <delete id="delete" parameterType="com.jnshu.entity.Student">
                delete from student where ID = #{ID}
        </delete>

        <insert id="insertall" parameterType="java.util.List">
                insert into student (Name,School,Online_un,Number,City) values
                <foreach collection="list" item="item" index="index" separator=",">
                        (#{item.Name},#{item.School},#{item.Online_un},#{item.Number},#{item.City})
                </foreach>
        </insert>

</mapper>
